name: Build-Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
        with:
          dotnet-version: 5.0.x
      # set release tag(*.*.*) to env.GIT_TAG
      - run: echo "GIT_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      # build CommandTools first (using dotnet run command in ZLogger.csproj)
      - run: dotnet build -c Release src/UnitGenerator -p:Version=${{ env.GIT_TAG }}
      - run: dotnet pack ./src/UnitGenerator -c Release --no-build -p:Version=${{ env.GIT_TAG }} -o ./publish

      # Store artifacts.
      - uses: actions/upload-artifact@v2
        with:
          name: nuget
          path: ./publish/
      # Upload analyzer.
      - uses: actions/upload-artifact@v2
        with:
          name: UnitGenerator
          path: ./src/UnitGenerator/bin/Release/netstandard2.0/UnitGenerator.dll

  create-release:
    needs: [build-dotnet]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
      # set release tag(*.*.*) to env.GIT_TAG
      - run: echo "GIT_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      # Create Releases
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Ver.${{ github.ref }}

      # Download (All) Artifacts to current directory
      - uses: actions/download-artifact@v2

      # Upload to NuGet
      - run: dotnet nuget push "./nuget/*.nupkg" -s https://www.nuget.org/api/v2/package -k ${{ secrets.NUGET_KEY }}

      # Upload to Releases
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./UnitGenerator/UnitGenerator.dll
          asset_name: UnitGenerator.dll
          asset_content_type: application/octet-strea
